

.titulo-productos {
    color: var(--colors-blanco);
    margin-block: 32px;
    font-weight: 500;
}

.lista-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-bottom: 32px;
}

.item-productos {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 186px;
    border-radius: 10px;
    background-color: var(--colors-blanco);
    background-color: rgba(255, 123, 0, 0.515);
    font-size: 16px;
    padding: 8px;
}

.item-productos img{
    width: 100%;
    border-radius: 5px;
}

.item-productos a {
    color: var(--colors-blanco);
    text-decoration: none;
}

.titulo_movie {
    text-align: left;
}

.detalle_card_producto {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--colors-blanco);
}

.titulo-editar-prod {
    color: var(--colors-blanco);
}

.form-buscar {
    display: flex;
    margin: 16px auto;
    width: 100%;
}

.label-buscar {
    width: 100%;
    margin-right: 5px;
}

.input-buscar {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
}

.div-buscar {
    width: 15%;
}

.boton-buscar {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
}

@media(min-width:481px){
    .item-productos {
        font-size: 20px;
    }

    .label-buscar {
        max-width: 42%;
    }

    .div-buscar {
        max-width: 15%;
    }
}

@media(min-width:769px){
    .lista-productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item-productos {
        margin: 16px;
        max-width: 200px;
        font-size: 16px;
    }

    .label-buscar {
        max-width: 30%;
    }

    .div-buscar {
        max-width: 6%;
    }

    .input-buscar{
        padding: 7px;
    }

    .boton-buscar {
        padding: 7px;
    }

}